/**
    jsTree fixes
*/

li > .jstree-ocl:before {
  position: relative;
  display: inline-block;
  font-family: "photon-entypo";
  font-size: 100%;
  line-height: 100%;
}

i.jstree-ocl {
    font-style: normal;
    font-weight: bold;
}

li.jstree-open > .jstree-ocl:before {
  content: '\e873';
}

li.jstree-closed > .jstree-ocl:before {
  content: '\e875';
}

.jstree-default .jstree-node, .jstree-default .jstree-icon {
    background: none !important;
}

.jstree-container-ul {
    font-size: 17px;
}

.jstree-default .jstree-wholerow-clicked {
    background: #d4d2d4; !important;
}

.jstree-default .jstree-wholerow-hovered {
    background: rgba(94, 94, 94, 0.13); !important;
}

.jstree-default .jstree-wholerow-clicked {
    background: #d4d2d4; !important;
}

/***
    CK Editor
*/

#main-pane {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

#editors {
    height: 100%;
    flex-grow: 1;
    overflow-y: hidden;
}

#editors .cke {
    height: 100%;
}

#editors .cke_inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#editors .cke_contents {
    flex-grow: 1;
}

.cke_dialog tr:active, .cke_dialog .table-striped tr:active:nth-child(even){
    background: none;
}

#loader {
    justify-content: center;
    align-items: center;
}

#loader > div {
    width: 60%;
    height: 20px;
    background: #d0d0d0;
}
#loader-bar {
    height: 20px;
    width: 0;
    background: cornflowerblue;
}

.splitter {
  flex: 0 0 auto;
  width: 5px;
  background: url('../node_modules/jquery-resizable-dom/assets/vsizegrip.png') center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;
}

.chrome-tabs-shell {
    padding: 5px;
    border-radius: 0;
    z-index: 100;
}

/** All CKS hidden initially */

#editors .cke {
    display: none;
}

/*** Tabs shows over the loader, hide them ***/
#loader {
    z-index: 9999;
}